/*  Universal styles  */
body {
    background-color: #EBEBEB;
}

.btn {
    border-radius: 20px;
    min-width: 115px;
}

/*  Game Page  */
.flex-container {
    display: flex;
    margin: auto;
    width: fit-content;
    justify-content: center;
}

#game-grid {
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.box {
    border: 2px solid grey;
    width: 4vw;
    height: 4vw;
    margin: 0.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    background-color: #FFF;
}

/* Classes to show which guesses are correct */
.incorrect-guess {
    background-color: darkgrey;
}

.wrong-square-guess {
    background-color: #c8b653;
}

.correct-guess {
    background-color: #6ca965;
}