/*  Universal styles  */
body {
    background-color: #EBEBEB;
}

.btn {
    border-radius: 20px;
    min-width: 115px;
}

/*  Game Page  */
.flex-container {
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: center;
}

.flex-container .emoji{
    width: 85%; /* overriding width from .flex-container as there are more buttons to display in this section */
}

.box {
    border: 2px solid grey;
    width: 80px;
    padding: 28px 0; /* top and bottom padding to vertically centre the emoji within the box and ensure the height is equal to the width */
    text-align: center;
    margin: 7px;
}