/*  Universal styles  */
body {
    background-color: #EBEBEB;
}

.btn {
    border-radius: 20px;
    min-width: 115px;
}

/*  Game Page  */
a {
    text-decoration: none;
    color: black;
}

.flex-container {
    display: flex;
    margin: auto;
    justify-content: center;
}

#game-grid {
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.box {
    border: 2px solid grey;
    width: 4vw;
    height: 4vw;
    margin: 0.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    background-color: #FFF;
}

/* Classes to show which guesses are correct */
.incorrect-guess {
    background-color: darkgrey;
}

.wrong-square-guess {
    background-color: #c8b653;
}

.correct-guess {
    background-color: #6ca965;
}

/* Media queries for screen size responsiveness */
@media screen and (max-width: 300px) {
    .box {
        width: 15vw;
        height: 15vw;
        margin: 0.9vw;
        font-size: 8vw;
    }
}

@media screen and (min-width: 300px) {
    .box {
        width: 15vw;
        height: 15vw;
        margin: 0.9vw;
        font-size: 8vw;
    }
}

@media screen and (min-width: 576px) {
    .box {
        width: 13vw;
        height: 13vw;
        margin: 0.8vw;
        font-size: 7.5vw;
    }
}

@media screen and (min-width: 768px) {
    .box {
        width: 11vw;
        height: 11vw;
        margin: 0.5vw;
        font-size: 6vw;
    }
}

@media screen and (min-width: 992px) {
    .box {
        width: 9.5vw;
        height: 9.5vw;
        margin: 0.5vw;
        font-size: 6vw;
    }
}

@media screen and (min-width: 1200px) {
    .box {
        width: 8vw;
        height: 8vw;
        margin: 0.3vw;
        font-size: 4vw;
    }
}

@media screen and (min-width: 1400px) {
    .box {
        width: 7vw;
        height: 7vw;
        margin: 0.25vw;
        font-size: 3vw;
    }
}